.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 2vw;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.questions-list {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
    background-color: lightgrey;
}
.question-item {
    background-color: white;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-auto-flow: column;
    color: black;
}

.search-area {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-auto-flow: column;
}

.tag-item span {
    background-color: lightblue;
    color:black;
}

.answer-list {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    background-color: lightgrey;
}

code {
    background-color: darkgrey;
    color:white;
}
